body {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    color: white;
}

.text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px;
    gap: 50px;
    max-width: 1100px;
}

.card {
    background-color: lightblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.card:active {
    background-color: blue;
}


.highlight {
    background-color: darkorange;
}